html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  color:#333;
}
/***/

a{
    text-decoration:none;
}
.navbar-brand {
    color: #712cf9 !important;
    font-weight: 700;
}